{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head_extra %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block nav %}{{ super() }}{% endblock %}

{% block content %}
<style>
div.card-body button,div.card-body a{
	margin: 0.1rem;
}
</style>
<div class="container-fluid h-100 mx-auto jumbotron">
	<div class="row">
        <div class="col-sm-12 rounded text-center">
            <img src="/static/img/arm80.png">
            <p class="text-center">
				<h2>Welcome to your Automatic Ripping Machine</h2>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}{{ super() }}{% endblock %}
